div.amarillonaranja{
    background-color: rgb(255, 208, 0);
}
div.rojo{
    background-color: red;
}
div.marron{
    background-color: brown;
}
div.azul{
    background-color: blue;
}
div.amarillo{
    background-color: yellow;
}
div.verdeclaro{
    background-color: greenyellow;
}
div.verdeoscuro{
    background-color: green;
}
div.morado{
    background-color: purple;
}