div.verde{
    background-color:greenyellow;
    height:50px;
}
div.rojo{
    background-color:red;
}
div.violeta{
    background-color:violet;
    height: 50px;
}
div.salmon{
    background-color:salmon;
    height: 150px;
}
div.azul{
    background-color:blue;
    height: 50px;
}
div.verdeCanijo{
    background-color:greenyellow;
    height:25px;
}